@model int[]

@{
    List<string> names = new List<string> { "Novreste", "Gultac", "Lale"};
    string baseStr = "Welcome";
}


@for (int i = 0; i < names.Count; i++)
{
    <h1>@(baseStr + " - " + @names[i])</h1>
}

@foreach (var item in names)
{
    <h1>@baseStr - @item</h1>
}

<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>

<p style= "color:red">cdvffzdvxv</p>
<script>
    console.log("This is js");
</script>